//// color definition ////

$c-def-highlight: #53cbcf;
$c-def-highlight2: #267ed1;
$c-def-highlight3: #e7961b;
$c-def-white: #FFFFFF;
$c-def-black: #0D1117;
$c-def-gray: #aeb4b6;

:root {
  --c-bg: #{$c-def-white};
  --c-bg-hover: #{darken($c-def-white, 2%)};
  --c-bg-active: #{darken($c-def-white, 4%)};
  --c-main: #{$c-def-black};
  --c-link: #{$c-def-highlight};
  --c-link-visited: #{$c-def-highlight3};
  --c-border: #{$c-def-gray};
  --c-shadow: #{rgba($c-def-black, 40%)};

  @media (prefers-color-scheme: dark) {
    --c-bg: #{$c-def-black};
    --c-bg-hover: #{lighten($c-def-black, 2%)};
    --c-bg-active: #{lighten($c-def-black, 4%)};
    --c-main: #{darken($c-def-white, 4%)};
    --c-link: #{$c-def-highlight};
    --c-link-visited: #{$c-def-highlight3};
    --c-border: #{$c-def-gray};
    --c-shadow: #{rgba($c-def-white, 40%)};
  }
}

$radius: 1em;
$gradient-basic: linear-gradient(to right, $c-def-highlight, $c-def-highlight2);
