@import "./defs-screen.scss";
@import "./defs-color.scss";

@mixin bottomSeparator($width, $spacing) {
  &::after {
    @content;
    display: block;
    width: 100%;
    height: $width;
    margin-top: $spacing;
    content: "";
    background: $gradient-basic;
  }
}

@mixin normalBoxRounded {
  border-radius: $radius;
  box-shadow: 0px 0px 5px var(--c-shadow);
  padding: 1em;

  @media (prefers-color-scheme: dark) {
    box-shadow: unset;
    border: 2px solid var(--c-border);
  }

  @content;
}
