@import "./defs.scss";

body {
  background-color: var(--c-bg);
  color: var(--c-main);

  a {
    color: var(--c-link);

    &:visited {
      color: var(--c-link-visited);
    }
  }
}

div.no-wrap {
  word-break: keep-all;
}

a.gh-card > img {
  display: inline-block;
  max-width: 100%;
}

main {
  display: flex;
  gap: 1em;
  max-width: 1600px;
  margin: 0 auto;
  flex-direction: row;
  font-size: 20px;
  line-height: 1.25em;
  font-family: 'Kiwi Maru', Arial, Helvetica, sans-serif;
  font-weight: 300;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Makinas-4-Flat', Arial, Helvetica, sans-serif;
  }

  @media screen and (max-width: $screen-width-one-column) {
    flex-direction: column;
    line-height: 1.5em;
  }
}

main > #layout_sidebar {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: $screen-width-one-column) {
    max-width: 40em;
    margin: 0 auto;
  }

  > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  > h1 {
    line-height: 1.25em;
  }

  > section > h2 {
    @include bottomSeparator(2px, 0.25em);
    text-align: center;
  }

  > img.profile {
    margin-top: 2em;
    max-width: 300px;
    width: 100%;
    border-radius: 2.5%
  }
}

main > #layout_main {
  > section > h2 {
    @include bottomSeparator(2px, 0.25em);
    text-align: center;
  }

  article {
    @include normalBoxRounded;

    +article {
      margin-top: 0.5em;
    }
  }

  @media screen and (max-width: $screen-width-one-column) {
    max-width: 60em;
  }
}
