@import "./defs.scss";

body {
  background-color: var(--c-bg);
  color: var(--c-main);

  a {
    color: var(--c-link);

    &:visited {
      color: var(--c-link-visited);
    }
  }
}

div.no-wrap {
  word-break: keep-all;
}

a.gh-card > img {
  display: inline-block;
  max-width: 100%;
}

main {
  display: flex;
  gap: 1em;
  max-width: 1600px;
  margin: 0 auto;
  flex-direction: row;
  font-size: 20px;
  line-height: 1.25em;

  @media screen and (max-width: $screen-width-one-column) {
    flex-direction: column;
    line-height: 1.5em;
  }
}

main > #layout_sidebar {
  max-width: 380px;

  @media screen and (max-width: $screen-width-one-column) {
    max-width: 60em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  >h1 {
    line-height: 1.25em;
  }

  >img.profile {
    max-width: 380px;
    width: 100%;
    border-radius: 2.5%
  }
}

main > #layout_main {
  > section > h2 {
    @include bottomSeparator(2px, 0.25em);
    text-align: center;
  }

  article {
    @include normalBoxRounded;

    +article {
      margin-top: 0.5em;
    }
  }

  @media screen and (max-width: $screen-width-one-column) {
    max-width: 60em;
  }
}
